* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

p {
    margin-bottom: 0 !important;
}

html {
    background-color: #F2F3F7;

}

.principal-container {
    background-color: white;
    padding: 10px;
    display: block;
    width: 95%;
    height: auto;
    max-height: 75vh;
    margin: 20px auto;
    border: 1px solid #C5CBDA;
    border-radius: 10px;
    overflow-y: auto;
}

.home-info {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f7;
    color: #C5CBDA;
    border: 1px solid #C5CBDA;
    border-radius: 10px;
}

.button-proviniencia {
    color: white;
    border: none;
    width: 70%;
    height: 32px;
    font-size: 12PX;
    background-color: #25D366;
    border-radius: 50px;
}