.loader-container {
    z-index: 5;
    backdrop-filter: blur(5px);
    background-color: rgba(103, 101, 101, 0.14);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-loader {
    width: 500px;
    height: 190px;
    background-color: white;
    border: 2px solid #d4d4d7;
    border-radius: 8px;
}

.title-loader {
    background-color: #F2F3F7;
    border-radius: 10px 8px 0 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.title-loader p {
    color: #C5CBDA;
}


.sub-info-loader {
    height: 140px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.loader {
    flex: 3 auto;
    margin: 0 auto;
}

.info-loader {
    padding: 0 20px;
}

.title-info p {
    color: #C5CBDA;
}



.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #F2F3F7;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #F2F3F7 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
